:root{
    background-color: #3570df;
    align-self: center;
}

hr{
    border-color:#aaa;
    box-sizing:border-box;
    width:100%;  
  }

div{  

    margin: 0 auto; 
    background: #b2e5a2;  
    height: 400px;  
    width: 400px;  
    
    }

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  
caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
  }
  
thead,
tfoot {
    background-color: rgb(230, 213, 213);
  }
  
th,
td {
    border: 1px solid rgb(168, 165, 165);
    padding: 8px 10px;
  }
  
td:last-of-type {
    text-align: center;
  }
  
tbody > tr:nth-of-type(even) {
    background-color: rgb(158, 153, 153);
  }
  
tfoot th {
    text-align: right;
  }
  
tfoot td {
    font-weight: bold;
  }
  